<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Nette Doctrine 2 blog</title>
        <link rel="stylesheet" href="{$basePath}/css/style.css">
        <link rel="shortcut icon" href="{$basePath}/favicon.ico">
        <meta name="viewport" content="width=device-width">
        {block head}{/block}
    </head>
    <body>
        <div id="container">
            {if count($flashes) > 0}
                <div id="flashes">
                    <div class="text">
                        <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">
                            {$flash->message}
                        </div>
                    </div>
                </div>
            {/if}
            <div id="header">
                <div id="logo">
                    <h1>Blog system</h1>
                </div>
                <div id="userInfo">
                    {if $user->isLoggedIn()}
                        {_common.loggedAs}: {$userEntity->name}
                    {/if}
                </div>
                <div id="menu">
                    <a n:href="Homepage:default">{_menu.homepage}</a>
                    {if !$user->isLoggedIn()}
                        <a n:href="Sign:up">{_menu.signUp}</a>
                    {/if}
                </div>
            </div>
            <div id="content">
                {include content}
            </div>
            <div id="footer">
                <div class="text">
                    &copy; Konesoft Corporation
                </div>
            </div>
        </div>
        {block scripts}
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="//nette.github.io/resources/js/netteForms.min.js"></script>
        <script src="{$basePath}/js/main.js"></script>
        {/block}
    </body>
</html>
