#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	- App\Model\Facades\UserFacade
	- App\Model\Facades\ArticleCategoryFacade
	- App\Model\Facades\ArticleFacade
	router: App\RouterFactory::createRouter
        # Továrničky:
        - App\Forms\SignFormFactory

extensions:
 console: Kdyby\Console\DI\ConsoleExtension
 events: Kdyby\Events\DI\EventsExtension
 annotations: Kdyby\Annotations\DI\AnnotationsExtension
 doctrine: Kdyby\Doctrine\DI\OrmExtension
 translation: Kdyby\Translation\DI\TranslationExtension

translation:
 default: cs
 fallback: [cs, en]
 whitelist: [cs, en]